<%- include('partials/head', { pageTitle }) %>
<main class="simple-page">
  <div class="panel centered-panel">
    <h1>404</h1>
    <p>The page you requested could not be found.</p>
    <a href="/" class="button primary">Go Home</a>
  </div>
</main>
<%- include('partials/footer') %>
